.counter-card {
  width: 400px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid black;
  box-shadow: 10px 10px 5px black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: antiquewhite;
  padding: 20px;
  /* margin-left: -200px; */
  /* margin-top: -150px; */
}
.counter-card h1 {
  color: #ff2625;
  font-size: 40px;
  -webkit-text-stroke: 2px #777;
}
.counter-card p {
  color: #ff2625;
  font-size: 40px;
  -webkit-text-stroke: 2px #777;
}
.btns {
  display: flex;
  gap: 10px;
}
.btns button,
.counter-card .logout {
  background-color: #ff2625;
  padding: 10px 15px;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 10px;
}
.counter-card .logout {
  margin-top: 80px;
}
.login-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.button {
  background-color: #ff2625;
  padding: 10px 15px;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  width: 150px;
  text-align: center;
}
